### MacOS files
.DS_Store

### Build products
# Gryphon build folder
/.build
# AST Dumps for translated files
*.swiftAstDump
# Intermediate representations used in testing
*.swiftAST
*.gryphonASTRaw
*.gryphonAST
*.kttest
# Used by the test suite to print diffs when tests fail
/.tmp
# Used by the acceptance tests to build the translated programs
/.kotlinBuild*
# Result of building the translated programs
*.jar

### Xcode files
/*.xcodeproj
**/xcuserdata
default.profraw

