<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>Gryphon | The Swift to Kotlin translator</title>
    <meta property="og:title" content="Gryphon">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="The Swift to Kotlin translator.">
    <meta property="og:description" content="The Swift to Kotlin translator.">
    <link rel="canonical" href="https://vinivendra.github.io/Gryphon/">
    <meta property="og:url" content="https://vinivendra.github.io/Gryphon/">
    <meta property="og:site_name" content="Gryphon">
    <meta property="og:image" content="https://vinivendra.github.io/Gryphon/assets/images/seoWide.png">
    <meta name="twitter:image" content="https://vinivendra.github.io/Gryphon/assets/images/seoSquare.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <script type="application/ld+json">
    {"@type":"WebSite","url":"https://vinivendra.github.io/Gryphon/","name":"Gryphon","headline":"Gryphon","description":"The Swift to Kotlin translator.","@context":"https://schema.org"}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222222">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#222222">
    <meta name="apple-mobile-web-app-title" content="Gryphon">
    <meta name="application-name" content="Gryphon">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="theme-color" content="#222222">
  </head>
  <body>
    <div class="fixedHeader">
      <div class="fixedHeaderImageContainer">
        <a href="index.html">
          <img src="assets/images/Logo.png" alt="Gryphon logo" class="fixedHeaderImage">
        </a>
      </div>
      <div class="fixedHeaderButtons">
        <a href="index.html" class="btn fixedHeaderButton">Home</a>
        <a href="gettingStarted.html" class="btn fixedHeaderButton">Tutorial</a>
        <a href="{{ site.github.repository_url }}" class="btn fixedHeaderButton">GitHub</a>
        <a href="https://twitter.com/gryphonblog" class="btn fixedHeaderButton">Twitter</a>
      </div>
      <div class="fixedHeaderRightSpacer">
      </div>
    </div>
    <header class="page-header" role="banner">
      <div class="leftHalf">
        <div class="leftHalfContainer">
          <img src="assets/images/Logo.png" alt="Gryphon logo" class="logoImage">
          <h1 class="project-tagline">The <span class="swiftText">Swift</span> to <span class="kotlinText">Kotlin</span> translator</h1>
          <a href="gettingStarted.html" class="btn buttonSmall buttonLight">Get started</a>
          <a href="{{ site.github.repository_url }}" class="btn buttonSmall buttonLight">Preview on GitHub</a>
        </div>
      </div>
      <div class="rightHalf">
        <div class="gifContainer">
          <img src="assets/images/gifWindow.gif" alt="Code examples gif" class="gifWindow">
        </div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div style="margin-left: 2em">
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}" style="color: white">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}" style="color: white">{{ site.github.owner_name }}</a>.</span>
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com" style="color: white">GitHub Pages</a>.</span>
        </div>
      </footer>
    </main>
  </body>
</html>
